{% extends 'home/base.html' %}

{% block content %}


 	<div>	<!-- temporarily unclassed -->
	 	<h2>Your Account</h2>

	 	{% if request.GET.success %}
	 		<p><span class="med">Your changes have been saved.</span></p>
	 	{% endif %}
	 	
	  	<form method="POST" class="sign edit">
		{% csrf_token %}

			<p>Email: <strong> {{ object.email }} </strong></p>

		    <div class="form-group">

		  		{{ form.as_p }}

		  		<button class="btn btn-default submit" type="submit">Update</button>
		  	</div>
	  	</form>

	  	<h2>Your Spots</h2>
	  	<!-- add more details, and detail/edit view for spot -->
	  	{% for spot in object.parkingspot_set.all %}
	  		<p> {{ spot.title }} </p>
	  	{% endfor %}
  </div>

{% endblock %}