{% extends 'home/base.html' %}

{% block content %}

	<div style="text-align:left">	<!-- temporarily unclassed -->
		<h2>Spots in {{ request.GET.city|title }}</h2>
		{% for spot in foundspots %}
			<strong>{{ spot.title }}</strong><br>
			Address:<br>
			{{ spot.street }}<br>
			{{ spot.city }}, {{spot.state}} {{spot.zipcode}}
		{% empty %}
		Sorry, no spots found.
		{% endfor %}
		<form action="{% url 'home' %}">
    		<button class="btn btn-default submit" type="submit" style="margin-top:20px;">Back</button>
		</form>
	</div>

{% endblock %}
