{% extends 'home/base.html' %}

{% block content %}

<!-- SIGN UP -->

  <div class="v-center small">
    <h2>Create an Account</h2>

    <form action="{% url 'signup' %}" method="POST" class="sign">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
        <!--{% for field in form %}
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
        {% endfor %} -->
        <button class="btn btn-default submit" type="submit">Sign up</button>
      </div>
    </form>

  </div>

{% endblock %}
