{% extends 'home/base.html' %}

{% block content %}

<!-- SIGN IN -->
	<div style="height:400px;">	<!-- temporarily unclassed -->

		<h2>Sign in</h2>
		<form action="{% url 'signin' %}" method="POST" class="sign">
		{% csrf_token %}

		{% if request.GET.next %}
			<p>Please sign in first.</p>
		{% endif %}
		<div class="form-group">
			<p><label for="username">Username:</label>
			<input type="text" class="form-control" placeholder="Your username" name="username" id="username" required></p>

			<p><label for="password">Password:</label>
			<input type="password" class="form-control" placeholder="Your password" name="password" id="password" required></p>

			<input type="hidden" name="next" value="{{request.GET.next}}">

			<button class="btn btn-default submit" type="submit">Sign in</button>
		</div>
		</form>

	</div>
{% endblock %}