html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', serif !important;
	font-weight:300;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	background: -webkit-linear-gradient(to left, #F1F2B5 , #235C5F); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #F1F2B5 , #235C5F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* --- general --- */

/* main wrapper, uses flex */
.main {
	width:100%;
	text-align:center;
	padding-bottom:75px;
	margin-bottom: -45px; /*for footer*/
	min-height:100%;
	color:white;
 	display: flex;
 	flex-direction: column;
 	justify-content: center; /*vertically centers*/
 	align-items:center;
}

/* .edit is a dumb hack bc idk how to use mixins :)*/

.edit input {
	color: #000;
}

.edit {
	margin-top:0!important;
	text-align:left;
}

.edit label {
	font-weight:700!important;
}

/* ------- */

.med { /*another hack*/
	font-weight:normal;
}

.input-group {
	margin-top:15px!important;
}

.form-group {
	text-align:left;
}

.submit {
	margin-top:10px;
	font-weight:100!important;
	border:0!important;
}

.nohover:hover {
	color:#000!important;
}

/* --- nav --- */

/*figure out how to de-important this*/
nav {
	margin-bottom:0!important;
	border-radius:0!important;
	min-height:20px!important;
	margin-top:-5px!important;
	height:45px!important;
	background:rgba(255,255,255,0.7);
	padding-right:30px;
	border:0!important;
}

nav a, .footer a {
	color:black;
}

nav a:hover, .footer a:hover {
	background-color:transparent!important;
	color:#135058;
	text-decoration:none;
}

.navbar-collapse.collapse {
  display: block!important;
}

/* --- home --- */

.home {
	height:400px;
	width:50%;
}

.home p {
	margin-top:20px
}

.name { /* "ParkMi" */
	font-size:7em;
	font-weight:bold;
}

.caption { /* "Find parking anywhere, anytime."" */
	font-size:1.5em;
	display:inline;
}

#locate { /* contains search bar and span */
	margin-top:40px;
	height:25px;
	text-align:left;
}

#locate span { /* "Where are you headed?" */
	font-size:1.2em;
}

#locate input {
	border:0;
	height:30px;
	color:gray;
}

#locate button {
	border:0;
	height:30px;

	background-color:#135058;
	color:#fff;
}

#locate button:hover {

}

/*--- footer ---*/

.footer {
	background:rgba(255,255,255,0.7);
	text-align:center;
	bottom:0;
	width:100%;
	height:45px;
	line-height: 45px;
}

.footer span {
	display:inline-block;
	width:100px;
}

.l {
	float:left;
}

.r {
	float:right;
	margin-right:20px;
}

/*--- sign in/up ---*/

.sign {
	margin-top:15px;
	display:inline-block;
	width: 400px;
}

.sign input {
	width:100%;
}

.sign label {
    display:inline-block;
    text-align:left;
    margin-right:5px;
    font-weight:100!important;

}

